.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200vh;
    background: url('../assets/logo.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-paper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form {
    width: 100%;
  }
  
  .login-button {
    margin-top: 1rem;
  }
  