.app-container {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home {
  background: url('./assets/Udeepa.jpg') no-repeat center center fixed;
}

.login {
  background: url('./assets/Udeepa.jpg') no-repeat center center fixed;
}

.dashboard {
  background: url('./assets/Udeepa.jpg') no-repeat center center fixed;
}
